- id = dom_id(@comment, 'fat_free_crm')

- if params[:cancel].true?     # <----------------- Hide [Edit Comment]
  $('##{id}').replaceWith('#{ j render(partial: "comment", collection: [ @comment ]) }');

- else # <----------------------------------------- Show [Edit Comment] form.

  -# Disable onMouseOver for the list item.
  crm.highlight_off('#{id}');
  $('##{id}').html('#{ j render(partial: "edit", locals: { commentable: @comment.commentable }) }');
  $('##{dom_id(@comment, :text_fat_free_crm)}').focus();
