- id = dom_id(@field_group, :edit_fat_free_crm)

- if @field_group.errors.empty?
  crm.flip_form('#{id}');
  crm.set_title('#{dom_id(@field_group, 'fat_free_crm')}', '#{field_group_subtitle(@field_group)}');
- else
  $('##{id}').html('#{ j render(partial: 'edit') }');
