= simple_form_for(@campaign_url, html: one_submit_only, remote: true) do |f|
  = link_to_close new_campaign_url_path
  = hidden_field_tag "campaign", "#{@campaign.id if @campaign}"

  = f.error_messages object_name: t('campaign_url')

  = render "fat_free_crm/campaign_urls/top_section",    f: f
  = hook(:entity_form, self, {f: f, entity: @campaign_url})

  .buttonbar
    = f.submit t(:create_campaign_url), class: 'btn btn-primary'
    #{t :or}
    = link_to_cancel new_campaign_url_path
