= simple_form_for(@email_design, html: one_submit_only, remote: true) do |f|
  = link_to_close new_email_design_path
  = hidden_field_tag "campaign", "#{@campaign ? @campaign.id : @email_design.campaign_id}"

  = f.error_messages object_name: t('email_design')

  = render "fat_free_crm/email_designs/top_section",    f: f
  = hook(:entity_form, self, {f: f, entity: @email_design})

  .buttonbar
    = f.submit t(:create_email_design), class: 'btn btn-primary'
    #{t :or}
    = link_to_cancel new_email_design_path
